

body {
    font-family: "Avenir Next";
  }
  


  li {
    list-style: none;
  }
  
a {
  color:white ;
}

  .header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
  
h1,.name{
  color:black;
  opacity: 0.5;
}

  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }
  
  .copy-container h1 {
    font-size: 100px;
    margin-top: 5px;
  }
  
  .copy-container h2 {
    font-size: 40px;
  }
  
  .copy-container span {
    color: #ff4a4a;
  }
  
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  

  .sub-judul1 {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
.bumper{
  width: 1250px;
  height: 400px;
  margin-top: 10px;
}

  .contents-item {
    float: left;
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  

  .contact-form {
    padding-top: 100px;
  }
  



  /* Tambahkan CSS untuk tags <input> dan <textarea> */
  input,textarea{
    width:200px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
   border:1px solid #dee7ec;
    
  }
  
 
 

input jk{
    margin: 5px;
    padding-right: 5px;
}

  /* Tambahkan CSS untuk contact-submit */
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }
  
.feedbackbox{
      background: #fff;
      padding: 50px 100px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
}



  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
  